<!doctype html>
<html lang="en-us" dir="ltr">
<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{ page.title }}</title>

  <style>
    {% include style.css %}
  </style>

</head>
<body>

  <header>
    <h1 style="background-color: black; color: white;">
      <img src="/images/4thofjuly-background.png" alt="" width="1" height="1" style="display: none;" />
      <span class="portrait">{% include 4thofjuly-portrait.svg %}</span>
      <span class="landscape" style="display: none">{% include 4thofjuly-landscape.svg %}</span>
    </h1>
  </header>

  {{ content }}
   
  <script>
    {% include analytics.js %}

    if (window.__gaTracker) {
      __gaTracker('create', 'UA-39280926-1', 'auto');
      __gaTracker('set', 'forceSSL', true);
      __gaTracker('send','pageview');
    }
  </script>

</body>
</html>
